.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rlib/
.omc/
.rcmdcheck_result.rds
src/*.o
src/*.so
src/*.dll
/neuroim2.Rcheck/
/neuroim2_*.tar.gz
/..Rcheck/
/doc/
/Meta/
docs
docs/reference
.aider*
inst/doc
vignettes/*.html
vignettes/*.md
